[submodule "docs/ebook"]
	path = docs/ebook
	url = https://github.com/RobertoRosa7/manuscript-grpc-spring.git
	branch = edition-2026-en
[submodule "tooling/ebook-engine"]
	path = tooling/ebook-engine
	url = https://github.com/RobertoRosa7/ebook-engine.git
	branch = main
